*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main__section{
    width: 100%;
}
.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 3rem 11rem;
}
h1{
    font-family: Inter, sans-serif;
    font-size: 2.25rem;
    margin-bottom: 1rem;
    text-align: center;
}
.main__about-para{
    color: #302f2d;
}
.main__img{
    width: 100%;
}
.main__img img{
    width: 100%;
}